#ContactUs {
    padding: 100px 0;

    h2 {
        text-align: center;
    }

    h5 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .box {
        background: #fff;
        padding: 70px;
        box-shadow: 10px 10px 42px -9px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 42px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 42px -9px rgba(0,0,0,0.75);
        margin-left: 15px;
        margin-right: 15px;
    }

    .title {
        font-size: 3rem;
        font-family: $displayFont;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    h6 {
        font-size: 1rem;
        font-weight: 400;
        font-family: $textFont;
        line-height: 1.7rem;
        color: $paragraphColor;
    }

    .mealTime {
        color: #000;
        font-size: 1.2rem;
    }

    p {
        font-family: $textFont;
        color: $paragraphColor;
        cursor: pointer;
        strong {
            color: #000;
            text-transform: uppercase;
            font-weight: 600;
        }

        a {
            text-decoration: none;
            color: $paragraphColor;

            &:hover {
                color: $red;
            }
        }
    }

    #logo {
        text-align: center;
        font-size: 6rem;
        margin-top: 50px;
        margin-bottom: 50px
    }
}