header {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 30px ;
  text-align: right;
  width: 100%;
  z-index: 10;

  .logo {
    padding-left: 10px;
    font-size: 2rem;
      i {
        color: #fff;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: $red;
          transform: scale(1.2);
        }
      }

  }


    #item1, #item2,
    #item3, #item4, #item5 {
      color: #fff;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $red;
        transform: scale(1.2);
      }



  }

}
