#Reviews {

    .chef-img {
        img {
            margin: 80px 15px;
            max-width: 600px;
            max-height: 400px;
            -webkit-box-shadow: 10px 10px 42px 1px rgba(0,0,0,0.93);
            -moz-box-shadow: 10px 10px 42px 1px rgba(0,0,0,0.93);
            box-shadow: 10px 10px 42px 1px rgba(0,0,0,0.93);
        }
    }
}